.py-12{
	width: 100%;
	margin: 0;
}
.ftr1{
	background: #8b8b8b;
	color: #fff; 
padding-top: 10px;
width: 100%;}
.ftr1 .div{
		
}
#ftr1 .div .p1div a{
			text-decoration: none;
			color: #fff;
			padding-left: 5px;
		}
		#ftr1 .div .cdcn{
			color: #2aa2d4;
			font-size: 15px;		
			box-sizing: border-box;
			width: 260px;
			padding-left: 10px;
		}
		#ftr1 .div .cdcn .spp{
			color: #666666;
		}
		#ftr1 .cdcn a{
			color: #f3e039;
			text-decoration: none;
		}
		#ftr1 .cdcn a:hover{
			color: #fff;
			transition: 1s;
		}
		#ftr1 .div .myicon p{
			width: 130px;
			box-sizing: border-box;
			float: left;

		}
		#ftr1 .div .myicon p a{
			color: #fff;
			transition: all 1s ease-in-out;

		}
		
		#ftr1 .div .dangky #myEmail{
			border:1px solid #333;
			background: #37383a;
			outline: none;
			padding:5px;
		}
		#ftr1 .div .dangky #mySubmit{
			background-color:#FFBC00;
			color: white;
			border: 2px solid #FFCB00;
			padding: 5px;
			font-size:20px;
			cursor:pointer;
			border-radius: 5px;
			margin-bottom: 15px;
			margin-left: 5%;
			width: 60%;
			text-align: center;
		}
		#ftr1 .myicon p a i{
			padding:3px;
			
		}
		#ftr1 .myicon{
			padding:unset;
		}
		#ftr1 .myicon p a:hover{
			transition: all 1s ease-in-out;
			color:#0195DD;
		}
		
		#ftr1 .myicon p:first-child a:hover i{
			background: #3B5998;
			color: #fff;
						
		}
		#ftr1 .myicon p:nth-child(2) a:hover i{
			background: #55ACEE;
			color: #fff;			
		}
		#ftr1 .myicon p:nth-child(3) a:hover i{
			background: #00AFF0;
			color: #fff;			
		}
		#footer .myicon p:last-child a:hover i{
			background: #00B489;
			color: #fff;			
		}
		#ftr1 .myicon a i{
			border: 1px solid transparent;			
			margin: 0px 5px 0px 0px;
		}
		
		 .copy{
			border-top: 3px solid #333333;
			background: #8b8b8b;
			color: #fff;
			padding-bottom:  20px;
			width: 100%;
		}
		 .copy div{
			padding-top: 30px;

		}
		 .dangky p{
			color: #fff;
			margin-left: 10px;
		}
		 .dangky #mySubmit:hover {
			color: red;
		}
		 .dangky #myEmail{
			width:70%;
		}
		 .dangky form{
			margin-left: 10px;
		}
		/*-------------------------------------------------------------------------------*/

		.formlh .inputlh{
	outline-color: #00a69b;
	width: 100%;
}
.formlh input.test{
	width:30%;
}
.formlh textarea{
	width:100%;
	outline-color: #00a69b;
}
@import url(http://fonts.googleapis.com/css?family=Raleway);

#form_login{
width:500px;
margin:50px auto;
font-family:raleway;
position: fixed;
top: -7%;
right: -15%;
z-index: 9999999;
display: block;
overflow: auto;
}

span{
color:red;
}

#h2{
	padding:unset;
	text-align: center;
	margin-top:unset;
}

hr{
border:0;
border-bottom:1px solid #ccc;
margin: 10px -40px;
margin-bottom: 10px;
}
#form_layout{
width:300px;
float: left;
border-radius: 10px;
font-family:raleway;
border: 2px solid #ccc;
padding: 10px 20px 25px;
margin-top: -2px;
background: #ebebeb;
overflow: auto;
}
#form_layout h2{
	background: rgba(0, 166, 155, 0.54);
	border-radius: 10px;
	color: rgba(31, 24, 123, 0.9);
}
 
input[type=text],input[type=password],#state{
width:99.5%;
padding: 2px;
margin-top: 2px;
border: 1px solid #ccc;
padding-left: 5px;
font-size: 14px;
font-family:raleway;
} 

input[type=submit]{
width: 100%;
background-color:#FFBC00;
color: white;
border: 2px solid #FFCB00;
padding: 5px;
font-size:16px;
cursor:pointer;
border-radius: 5px;
margin:10px auto;
}
.txtabout{
	/*border: 3px solid red;
	padding: 10px;
	margin: 20px 0;*/
}

