.ftr1{
	background: #8b8b8b;
	opacity: 0.8;
	padding:30px 0;
}


.copy{
		background: #8b8b8b;
		padding:20px 0;
	}
.my-logo .pr-2{
	color: red
}
.navbar-dark .navbar-brand a{
	color: red;
}
.navbar-brand.my-logo.pr-2{
	color: red;
}
#mySubmit{
	border-radius: 10px;
	border: red solid 2px;
	text-align: center;
}
#myEmail{
	border-radius: gray solid 2px;
	border-radius: 10px;
}
th{
	width: 150px;
}


